:root {
  --card-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  --card-shadow-hover: 0 7px 16px 0 rgba(0, 0, 0, 0.2),
    0 1px 3px 0 rgba(0, 0, 0, 0.1);
  --black: 5, 4, 5;
  --grey: 163, 172, 174;
  --white: 249, 254, 255;
  --yellow-logo: 254, 247, 33;
  --yellow-logo-darker: 233, 226, 13;
  --orange: 255, 170, 33;
  --orange-darker: 216, 143, 26;
  --fucsia: 233, 97, 219;
  --fucsia-darker: 218, 25, 197;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  height: 100vh;
  background-color: rgba(var(--grey), 0.4);
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.modal {
  animation-name: slideDown;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  border-radius: 14px;
  background-color: rgb(var(--white));
  position: fixed;
  top: 3rem;
  padding: 1rem;
  z-index: 30;
  text-align: center;
  max-width: inherit;
  max-height: 85%;
}

/* CART */

.cartContainer {
  min-width: 400px;
  text-align: start;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.cartList {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: auto;
}

.cartContainer li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.cartContainer li:last-child {
  border: unset;
}

.cartItemContainer {
  display: flex;
  max-width: 400px;
}

.cartItemInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 0.5rem;
  justify-content: center;
  padding: 1rem 0;
}

.amountContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amountContainer button {
  background-color: rgb(var(--fucsia-darker));
  border: 1px solid rgb(var(--fucsia-darker));
  cursor: pointer;
  color: rgb(var(--white));
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

.deleteItem {
  width: 100%;
  filter: invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg)
    brightness(118%) contrast(118%);
}

.itemAmount {
  width: min-content;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.cartItemImg {
  width: 25%;
  object-fit: contain;
}

.cartBuyButton {
  align-self: self-end;
  padding: 0.25rem 0.5rem;
  border: 1px solid rgb(var(--fucsia-darker));
  border-radius: 0.5rem;
  background-color: rgb(var(--fucsia-darker));
  cursor: pointer;
  color: rgb(var(--white));
}

/* ----- HEADER -----  */

header {
  background-color: rgb(var(--orange));
  width: 100%;
  height: 100px;
  padding: 0 4rem;
  display: flex;
}

.logoImgContainer {
  cursor: pointer;
}

.logoImgContainer img {
  width: 100px;
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topHeader,
.bottomHeader {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
}

.searchBarContainer {
  width: 580px;
  position: relative;
  width: 580px;
  height: 100%;
}

.searchBar {
  width: 100%;
  height: 100%;
}

.searchBar input {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  border: none;
}

.searchBar input:focus-visible {
  outline: rgb(var(--fucsia)) auto 1px;
}

.searchBar button {
  background-color: transparent;
  position: absolute;
  right: 0.5rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  cursor: pointer;
}

.searchBar img {
  height: 70%;
  filter: invert(86%) sepia(9%) saturate(201%) hue-rotate(144deg)
    brightness(81%) contrast(80%);
}

.dealsButtonContainer {
  color: rgb(var(--black));
  border: 1px solid rgb(var(--yellow-logo));
  min-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--yellow-logo-darker));
  border-radius: 0.5rem;
  cursor: pointer;
}

.headerButtons,
.userContainer {
  width: 50%;
}

.headerButtons ul,
.userContainer ul {
  list-style-type: none;
  display: flex;
  column-gap: 1rem;
  width: 100%;
  height: 100%;
  align-items: center;
  color: rgb(var(--white));
}

.userContainer ul {
  justify-content: flex-end;
}

.headerButtons li,
.userContainer li {
  position: relative;
  cursor: pointer;
}

.headerButtons li::after,
.userContainer li::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -2px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(var(--white));
}

.userContainer img {
  width: 30px;
  filter: invert(100%) sepia(92%) saturate(290%) hue-rotate(105deg)
    brightness(115%) contrast(102%);
}

.userContainer li:last-child {
  position: relative;
}

.userContainer li:last-child::after {
  width: 0;
}

.headerButtons a,
.userContainer a {
  color: rgb(var(--white));
  text-decoration: unset;
}

.cartBubble {
  position: absolute;
  top: -2px;
  right: 0;
  background-color: rgb(var(--fucsia-darker));
  width: 14px;
  height: 14px;
  border-radius: 50%;
  color: rgb(var(--white));
  font-size: 10px;
  text-align: center;
}

/* ----- MAIN ----- */

main {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
  background-color: rbga(var(--grey), 0.2);
}

/* HERO */

.hero {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--white));
}

.hero img {
  width: 400px;
}

.heroText {
  display: flex;
  align-items: center;
}

.heroText img {
  width: 150px;
}

.heroText span {
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgb(var(--black));
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.heroText span::before,
.heroText span::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}

/* PRODUCT */

.products,
.categories {
  padding: 0 12rem;
  width: 100%;
  position: relative;
}

.productsContainer {
  margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.productsContainer {
  height: 300px;
}

.cardProduct {
  width: 200px;
  min-height: 300px;
  max-height: 310px;
  padding: 1rem;
  border-radius: 0.1rem;
  box-shadow: var(--card-shadow);
  transition: all 1.3s ease;
  flex-direction: column;
  animation: appear 0.3s ease-in;
  background-color: rgb(var(--white));
  position: relative;
}

.cardProduct h2 {
  overflow: hidden;
  max-height: 30px;
}

.likeButton {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 2px solid;
  border-radius: 100%;
  padding: 1px;
  opacity: 0.2;
}

.productImg {
  aspect-ratio: initial;
  max-height: 120px;
  object-fit: contain;
  border-bottom: 0.1px solid rgba(var(--grey), 0.3);
  margin-bottom: 5px;
}

.productDescription strong {
  font-size: 1.5rem;
}

.productDescription p {
  opacity: 0;
  font-size: 0.9rem;
}

.productTitle {
  color: rgba(var(--black), 0.8);
}

.itemButton {
  margin: 1rem 0;
  border: 1px solid rgb(var(--fucsia-darker));
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgb(var(--fucsia-darker));
  color: rgb(var(--white));
  cursor: pointer;
}

.originalPrice {
  max-height: 0;
  font-size: 0.9rem;
  color: rgb(var(--grey));
  text-decoration: line-through;
}

#prevProduct,
#prevCategories {
  left: 6rem;
}

#nextProduct,
#nextCategories {
  right: 6rem;
}

.productsButtons {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--white));
  box-shadow: var(--card-shadow);
  transition: all 0.3s ease;
  cursor: pointer;
}

/* CATEGORIES */

.categories {
  margin-bottom: 50px;
}

.categoriesContainer {
  margin: 1rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 120px);
  grid-template-rows: 120px 120px;
  justify-content: center;
}

.cardCategory {
  box-shadow: var(--card-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(var(--white));
}

.cardCategory p {
  width: 100%;
  height: 100%;
  color: rgb(var(--black));
  text-decoration: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ----- FOOTER ----- */

footer {
  height: 120px;
  padding: 1rem 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(var(--orange-darker), 0.5);
}

.footerNavBar {
  width: 100%;
}

.footerNavBar ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.footerNavBar li {
  color: rgb(var(--black));
  cursor: pointer;
  transition: all 0.3 ease;
}

.socialMedia {
  display: flex;
  gap: 20px;
  align-self: center;
}

.socialMedia img {
  width: 30px;
}

.socialMedia img {
  filter: invert(39%) sepia(85%) saturate(6984%) hue-rotate(292deg)
    brightness(93%) contrast(104%);
}

/* BOUGHT ITEM  */

.bought {
  background-image: url(./assets/images/boughtBG.png);
  background-position: center;
}

/* VISIBILITY */

.displayNone {
  display: none;
}

.active {
  display: flex;
}

/* ERRORS */

.inputError {
  color: red;
  font-style: italic;
  font-size: 0.75rem;
  font-weight: 600;
}
