
body {
  justify-content: unset;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.loginInstructions,
.loginSection {
  padding: 3rem;
  margin: 3rem 0;
  width: 50%;
}

.loginInstructions {
  display: flex;
  flex-direction: column;
}

.loginInstructions a {
  color: rgb(var(--orange-darker));
  text-decoration: unset;
  transition: all 0.3 ease;
}

.loginInstructions a:hover {
  color: rgb(var(--orange));
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 500px;
  max-height: 250px;
  box-shadow: var(--card-shadow-hover);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.loginForm label {
  display: flex;
  flex-direction: column;
}

.loginForm input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.5px solid;
}

.loginForm input:focus {
  outline: none;
  border-color: rgb(var(--fucsia));
}

.loginButtons {
  margin-top: 2rem;
}

.loginButtons button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.loginButtons button:first-child {
  background-color: rgb(var(--fucsia));
  color: rgb(var(--white));
  border: 1px solid rgb(var(--fucsia-darker));
}

.loginButtons button:first-child:hover {
  background-color: rgb(var(--fucsia-darker));
}

#create {
  background-color: rgb(var(--white));
  color: rgb(var(--fucsia-darker));
  transition: all 0.3s ease;
  border: none;
}

#create:hover {
  color: rgb(var(--fucsia));
}

#password {
  animation: input 1.3s ease;
}

@keyframes input {
  0% {
    width: 0;
    opacity: 0.1;
  }

  60% {
    opacity: 0.3
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  header {
    padding: 0;
  }
  main {
    flex-direction: column;
    align-items: center;
    row-gap: 0;
  }

  .loginInstructions, .loginSection {
    margin: 0;
    width: 100%;
    padding: 1rem
  }

  .loginSection {
    display: flex;
    justify-content: center;
  }
}